<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo">Онлайн запись</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="exit" href="#">Выйти</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a class="exit" href="#">Выйти</a></li>
</ul>
