{{> navbar}}
<div class="main container">
    <h1>{{ user.firstName }} {{ user.secondName }}</h1>
    <div class="row">
        <h3>Записи к врачам: </h3>
        <ul class="collection">
            {{#each records}}
                <li class="collection-item avatar">
                    <i class="material-icons circle green">create</i>
                    <span class="title">{{doctor}}</span>
                    <p>
                        {{date}}
                    </p>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
