{{> navbar}}
<div class="main container">
    <h1>{{ user.firstName }} {{ user.secondName }}</h1>
    <div class="row">
        <nav>
            <div class="nav-wrapper teal">
                <ul id="nav-mobile" class="left">
                    <li><a href="/account">История</a></li>
                    <li class="active"><a href="/account/change">Изменить данные</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
